<div class="flex shadow-md my-10">

  <div class="w-3/4 bg-white px-10 py-10">
    <div class="flex justify-between border-b pb-8">
      <h1 class="font-semibold text-2xl"><%= @event.name %></h1>
      <% seconds_until_target_time = @event.start_time.to_i - Time.now.to_i %>
      <%= content_tag(:h1, "font-semibold text-2xl", data: {
        controller: "countdown",
        countdown_target: "countdown",
        seconds_until_end_value: seconds_until_target_time
      }) %>
    </div>
    <div class="flex mt-10 mb-5">
        <%= @event.description %>
    </div>
    <a href=<%= root_path %> class="flex font-semibold text-indigo-600 text-sm mt-10">
      <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
      All Events
    </a>
  </div>
  <div class="w-1/4 px-8 py-10 bg-slate-100">
    <div data-controller="cart-add-item" class="mx-auto ">
      <%= form_with(url: cart_items_path, scope: :cart_items,
        class: "flex flex-col gap-4 ",
        data: { turbo_stream: true}, method: :post) do |f| %>
        <%= f.select :seat_category_id,
          options_for_select(@seat_categories.collect { |cat| [cat.name, cat.id] }, 1),
          {}, { class: "rounded-lg py-3 px-5 font-medium cursor-pointer"} %>
        <div class="relative flex items-center">
          <button type="button" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none" data-action="click->cart-add-item#decrement">
            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
            </svg>
          </button>
          <%= f.number_field :quantity, value: 0, min: 0, max: 10, class: "bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", data: { target:"cart-add-item.quantity"} %>
          <button type="button" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none" data-action="click->cart-add-item#increment">
            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </button>
        </div>
        <%= f.submit "Add To Cart", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"%>
      <% end %>
    </div>
  </div>
</div>
