<% @cart.cart_items.each do |cart_item| %>
  <% ticket = cart_item.ticket %>
  <div id="<%= "cart-#{ticket.id}" %>">
    <div>
      <strong>Type:</strong>
      <%= ticket.type %>
      <strong>Base price:</strong>
      <%= ticket.base_price %>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: ticket.id %>
        <%= f.number_field :quantity, value: cart_item.quantity, min: 0 %>
        <%= f.submit "Add To Cart" %>
      <% end %>
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: cart_item.id %>
        <%= f.submit "X" %>
      <% end %>
      <strong>Total:</strong>
      <%= cart_item.quantity %>
    </div>
  </div>
<% end %>